body{
    margin: 0;
    padding: 0;
border: 10px groove green;
}
.bg{
    background-image: url(./img/img1.jpg);
    background-size: cover;
}
.header{
    display: flex;
    
}
.box{
    border: 5px solid red;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-style: italic;
}
.header-box1{
    padding: 15px;
    width: 250px;
    height:70px;
    margin-top: 15px;
    text-align: center;

}
.header-box2{
    width: 350px;
    height: 51px;
    border-radius: 25px;
    margin-left: -112px;
    margin-top: 22px;

display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.innercontainer2{
    margin-bottom: 6px;
    margin-right: 17px;

}
.header-box3{
    width: 300px;
    height: 90px;
    margin-top: 8px;
    font-size: 19px;
   /* padding: 15px 10px 5px 10px  ; */
   padding-top:10px ;
   line-height: 30px;
   margin-left: 269px;

} 
.header-box3 span{
    text-align: center;
display: block;
}
.container4{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:aquamarine;
    border: 10px solid grey;
    text-decoration: underline;
}



/* ----------form----------- */
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    justify-content: center;
    background: white;
    border: 5px dashed red;
}









/* ----------menu----------- */
.third-section{

}
.menu-box{
    display: flex;
    width: 30vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.menu-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu-card .card{
    color: blue;
width: 25vw;
height: 30vh;
border-radius: 10%;
background-color:cyan;
border: 10px green;
column-gap: 5vh;

}